:root {
  --menu-height: 50px;
  --overlay-z-index: 5;
  --menu-z-index: 10;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
p {
  font-family: Lato;
}

button {
  border: none;
  appearance: none;
  cursor: pointer;
}

.main {
  width: 100%;
  background-color: #003da6;
  height: var(--menu-height);
  position: relative;
}

.overlay {
  position: absolute;
  z-index: var(--overlay-z-index);
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  top: var(--menu-height);
  left: 0;
}
